{% extends 'store/main.html' %}
{% load static %}
{% block content %}

{% load static %}
<html>
<img src="https://i.postimg.cc/wBN62sDN/front.jpg"  style="width: 50%; 
height: 110vh;
margin-left: -80px;
margin-top: -10vh;">

<a  style="float:center; margin:10px; height: 10%; background-color: gray;" class="btn btn-outline-dark" href="{% url 'store' %}">Let's Shop!</a>

<img src="https://i.pinimg.com/564x/2a/49/60/2a4960b6cb20edd677826f6c652222fb.jpg"  style="width: 50%;
height: 100vh;
margin-right: -800px;
margin-top: -10vh;">

</html>
{% endblock content %}
